.dashboard-page
  .col-sm-3.side_nav
    = render "left_side_dashboard"
  .col-sm-9.groups-page
    .row
      .col-sm-12.content-header
        %label alerts - messages - ad space
    .row.page-content
      .col-sm-12
        %h1.page-title Groups
