.dashboard-page
  .col-sm-4
    = render "left_side_dashboard"
  .col-sm-8
    .row
      .col-sm-12.content-header
        %label alerts - messages - ad space
    .row.episode-content      
      -Episode.all.each do |episode|
        .col-md-4.col-sm-6.episode-item
          = link_to episode_path(episode), class: "thumbnail" do
            = image_tag episode.snap_shot.url
            %label.episode-title= episode.title
