#group_employee_form.modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title.text-center Add Employees to Group
      .modal-body
        = form_for(:group_employee, url: hr_manager_group_group_employees_path(group), html: { class: "form-horizontal", id: 'group_employee_form', name: 'group_employee_form' }) do |f|
          .invalid_group_employee
          .col-md-12
            .form-group
              .col-md-3
                %label Employees *
              .col-md-6
                = f.select :employee_ids, options_for_select(User.employees.map{|e| [e.first_name, e.id] }), {}, {multiple: true, class: "col-md-12 form-control input-md select2_search"}
            .form-group
              .col-lg-offset-3.col-lg-10
                = f.submit "Save", class: "btn btn-success"
        .clearfix
