.col-sm-4
  .side-header
    = link_to "Dashboard", "javascript://", class:"title-header"
    %span EDIT PREFERENCES
  #accordion.panel-group
    #panel1.panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-target" => "#collapseOne", "data-toggle" => "collapse", :href => "#collapseOne"}
            %strong PERMISSIONS
            |
            manage
            |
            set
      #collapseOne.panel-collapse.collapse.in
        .panel-body Permissions
    #panel2.panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"data-target" => "#collapseTwo", "data-toggle" => "collapse", :href => "#collapseTwo"}
            %strong BLOGS
            |
            manage
            |
            show activity
      #collapseTwo.panel-collapse.collapse
        .panel-body Blogs
    #panel3.panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"data-target" => "#collapseThree", "data-toggle" => "collapse", :href => "#collapseThree"}
            %strong GROUPS
            |
            manage
            |
            show activity
      #collapseThree.panel-collapse.collapse
        .panel-body Groups
    #panel4.panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"data-target" => "#collapseFour", "data-toggle" => "collapse", :href => "#collapseFour"}
            %strong FORUMS
            |
            manage
            |
            show activity
      #collapseFour.panel-collapse.collapse
        .panel-body Forums
    #panel5.panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"data-target" => "#collapseFive", "data-toggle" => "collapse", :href => "#collapseFive"}
            %strong LANGUAGES
            |
            manage
            |
            set
      #collapseFive.panel-collapse.collapse
        .panel-body Languages
    #panel6.panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"data-target" => "#collapseSix", "data-toggle" => "collapse", :href => "#collapseSix"}
            %strong ASSETS LIBRARIES
            |
            manage
            |
            set
      #collapseSix.panel-collapse.collapse
        .panel-body Assets Libraries
    #panel7.panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.collapsed{"data-target" => "#collapseSeven", "data-toggle" => "collapse", :href => "#collapseSeven"}
            %strong MEDIA GALLERIES
            |
            manage
            |
            set
      #collapseSeven.panel-collapse.collapse
        .panel-body Media Galleries
