%footer.footer
  .container
    .col-sm-3.col-xs-4
      = link_to "About US", "#"
    .col-sm-3.col-xs-4
      = link_to "Contact", "home/contact"
    .col-sm-3.col-xs-4
      = link_to "Customer Service", "#"
    .col-sm-3.hidden-sm.hidden-xs
      %label Boxspring Ent, H2H Company © 2017
