%footer.footer
  .container
    .col-sm-3.col-xs-4
      = link_to "About US", about_us_path
    .col-sm-3.col-xs-4
      = link_to "Contact", contact_path
    .col-sm-3.col-xs-4
      = link_to "Disclaimer", disclaimer_path
    .col-sm-3.hidden-sm.hidden-xs
      %label Boxspring Ent, H2H Company © 2017
