%i.close.icon
.header
  = @episode.title
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "", :msallowfullscreen => "", :oallowfullscreen => "", :scrolling => "no", :src => @episode.video_src, :webkitallowfullscreen => "", :width => "854"}
