.row.about-us-page
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    %h5 REDEFINING NORMAL THROUGH FILM, TV, BRANDED & IMMERSIVE CONTENT & GLOBAL PARTNERSHIPS ￼￼
    %p
      %strong Boxspring Entertainment, with the tagline "Redefining Normal" is a
      global media company developing content and technology in a variety global media company developing content and technology in a variety of formats through the Boxspring brand.
    %p
      Founded by activists, entrepreneurs, actors, directors, technologists, strategists, branders, producers and learning experts, its core social impact focus is on diversity, human rights, including women in front and behind the camera.
    %p
      Boxspring Brands give back to numerous relevant causes, for example, Boxspring Agency will only work with clients who are putting in a mandate for equal pay.
    %p
      "It is time we ought to be appreciative of corporate training, versus bored and frustrated, and this will only come about with highly entertaining streaming content, effective communication, and next level partners"
    %p.last-item
      %strong Clare Munn
      , Founder
