!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BoxSpring Entertainment
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    .staticBackground
      .contact-page
        %h1.contactLabel CONTACT
        %p.contactblurb Thank you for inquiring for more information. Please contact us at the below phone number and email address. We look forward to speaking with you.
        %h1.copywrite Boxspring Ent, H2H Company © 2017
        .contactInformation
          %span.glyphicon.glyphicon-envelope CServervice@boxspringentertainment.com
          %span.glyphicon.glyphicon-earphone 1.310.741.2842
          %p Contact us for pricing and information on our Enterprise Model to purchase a bulk order of accounts.

