#content
  #quiz
    / 1
    #question
      %label{:for => "question1"} Why is it unacceptable to bring in a cake shaped weird, even if no one knows its a  hand-job?
      #answers.field
        .ui.radio.checkbox
          %input.hidden{:name => "question1", :tabindex => "0", :type => "radio"}/
          %label The cake was left in a communal food area with no instructions as to who’s allowed to eat it
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question1", :tabindex => "0", :type => "radio"}/
          %label The frosting got stuck to the lid and sadly most of the hand-job was destroyed
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question1", :tabindex => "0", :type => "radio"}/
          %label Anything suggestive creates a sexually charged atmosphere
    / 2
    #question
      %label{:for => "question2"} Why is encroachment not okay?
      #answers.field
        .ui.radio.checkbox
          %input.hidden{:name => "question2", :tabindex => "0", :type => "radio"}/
          %label There’s not enough for everyone
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question2", :tabindex => "0", :type => "radio"}/
          %label Your aura is too magnetic
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question2", :tabindex => "0", :type => "radio"}/
          %label Even if you’re not touching, when you invade someone’s personal space it makes them feel uncomfortable and possibly even violated
    / 3
    #question
      %label{:for => "question3"} Why is suggesting to Dawn the drawing is of a labia on a paper towel bad even if she’s cool with it?
      #answers.field
        .ui.radio.checkbox
          %input.hidden{:name => "question3", :tabindex => "0", :type => "radio"}/
          %label Dawn wanted to discover the labia picture on her own
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question3", :tabindex => "0", :type => "radio"}/
          %label Dish towels find paper towels offensive
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question3", :tabindex => "0", :type => "radio"}/
          %label You also need to consider other people in the office.  If one person is okay with it, another still might find it offensive.  And sometimes they’re too uncomfortable to say anything.  So as a rule, sexual imagery is off-limits.
    / 4
    #question
      %label{:for => "question4"} When is whistling considered sexual harassment?
      #answers.field
        .ui.radio.checkbox
          %input.hidden{:name => "question4", :tabindex => "0", :type => "radio"}/
          %label Nightfall
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question4", :tabindex => "0", :type => "radio"}/
          %label When accompanied by the banjo
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question4", :tabindex => "0", :type => "radio"}/
          %label When it draws attention to someone’s physique or a compromising pose.
    / 5
    #question
      %label{:for => "question5"} Why is not okay to say the word “tits” inside the office?
      #answers.field
        .ui.radio.checkbox
          %input.hidden{:name => "question5", :tabindex => "0", :type => "radio"}/
          %label Because people outside the office are unable to hear the word “tits”
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question5", :tabindex => "0", :type => "radio"}/
          %label Some people can’t drink milk
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question5", :tabindex => "0", :type => "radio"}/
          %label It’s a slang term that objectifies women
    #question
      %label{:for => "question6"} Why isn’t it okay for Jude to reference an “HJ” when he’s clearly joking?
      #answers.field
        .ui.radio.checkbox
          %input.hidden{:name => "question6", :tabindex => "0", :type => "radio"}/
          %label Hand-jobs are no laughing matter
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question6", :tabindex => "0", :type => "radio"}/
          %label Some cultures don’t know that it means
      .field
        .ui.radio.checkbox
          %input.hidden{:name => "question6", :tabindex => "0", :type => "radio"}/
          %label Because it’s not how the comment is intended, but how it’s received.  And there’s too high of a chance someone will be rubbed the wrong way.
    %div
      %button#quizSubmit.ui.basic.large.button
        Submit
