/*Categories#Index*/
.category-index{
	margin-top:5%;
}
.formatHeader{
	font-weight: 100;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	color: #7C7D7E;
	font-size: 20px;
	text-align: center;
	font-weight: 300;
}
a, a:link{
	text-decoration: none;
}
#logo{
	display: block;
  	margin-left: auto;
}
.ui.image{
	  	height: 100px;
  	width: 100px;
}
.ui.secondary.menu .item{
	font-size: 17px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #7C7D7E;
}

.rows{
	height: 100%;
	width: 100%;
	overflow: hidden;
	color: #7C7D7E;
	text-transform: uppercase;
	margin-top: 4%;
	.row{
		margin-bottom: 5px;
		overflow: hidden;
	}
};


/*CatgoriesImages*/
// #EthicsAndCompliance{
// 	background-image: image-url("HR_Square_Banner_4.jpg");
// 	background-size: cover;
// 	height: 500px;
// 	color: #7C7D7E;
// };
//
// #Technology{
// 	background-image: image-url("Hacks_Square_Banner.jpg");
// 	background-size: cover;
// 	width: 100%;
// 	height: 500px;
// 	color: #7C7D7E;
// };
// #Consciousness{
// 	background-image: image-url("Sea_Knot_Square_Banner.jpg");
// 	background-size: cover;
// 	width: 100%;
// 	height: 500px;
// 	color: #7C7D7E;
// };
//
// #Communication{
// 	background-image: image-url("Communication.jpg");
// 	background-size: cover;
// 	width: 100%;
// 	height: 500px;
// 	color: #7C7D7E;
// };

/*Categories#Index*/
#snapshot{
	background-image: image-url("GreenSparkly.jpg");
	width: 255px;
	height: 175px;
	a{
		color: white;
		float: right;
		margin-right: 5px;
		margin-top: 5px;
		background-color: #7C7D7E;
		opacity: .9;
		border-radius: 2px;
		padding-right: 3px;
		padding-left: 3px;
		padding-top:2px;
		padding-bottom: 2px;
	}
}
.videoSize{
	width:100%;
	height: 508px;
}

.videoLarge{
	height:740px;
	width: 100%;
	position: relative;
	// margin-top: 125px;
}
@media screen and (max-width: 767px) and (min-width: 375px) {
	.container{
		.videoLarge{
			height:340px;
		}
	}
}

@media screen and (max-width: 568px) and (min-width: 320px) {
	.container{
		.videoLarge{
			height:320px;
		}
	}
}


.bannerVideo{
	background-image: image-url("GreenSparkly.jpg");
	background-size: cover;
	float: center;
	height: 60%;
	width: 100%;

};

/*Category#Show*/
#preview{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 17px;
	height: 45px;
	width:220px;
}
.ui.red.small.button{
	border: 2px solid white;
}
.seasonShow{
	width: 100%;
	height: 900px;
	position: relative;
	#previewNow{
		position: absolute;
    	bottom: 33%;
    	left: 4.2%;
	}
	#episodeRow{
		position: absolute;
		height:260px;
		width: 100%;
		bottom: 0;
		overflow: hidden;
		margin-left: 4.2%;
		a{
			color: rgb(124,125,126);
			&:hover{
				color: #a5a5a5;
			}
		}
	 .square{
	 	display: inline-block;
	 	vertical-align: bottom;
		display: inline-block;
		height: 100%;
		width: 18%;
		margin-right: 6%;
		overflow: hidden;
			.belowText{
				font-weight: 200;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 15px;
				episodeImage{
						height: 145px;
						width: 100%;
						background-size: cover;
						display: inline-block;
				}
				a {
					color: #7C7D7E;
				}
				.episode{
					font-size: 20px;
					font-weight: 400;
					margin-top: 10px;
					text-transform: uppercase;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

				}
				.episode-title{
					font-size: 18px;
					margin-top: 20px;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					text-align: center;
				}

			}
		}
	}
}

#formatHeaderShow{
	font-weight: 100;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 10px;
	margin-bottom: 0px;
	// margin-top: 95px;
	color: #7C7D7E;
	font-size: 24px;
}


/*Category#Show*/
.category-slick{
  button{
    z-index: 9999999;
    top: 80%;
		width:0px;
		height:0px;
  }
  .slick-prev{
    left: 50px;
  }
  .slick-next{
    right: 100px;
  }
  .slick-prev:before, .slick-next:before{
    font-size:60px;
  }
  .slick-prev:hover::before{
    color: #9c9c9c;
  }
  .slick-next:hover::before{
    color: #9c9c9c;
  }
	.slick-slide{
		.banner{
			img{
				padding: 10px;
				width: 100%;
			}
		}
	}
}


@media screen and (max-width: 768px) and (min-width: 375px) {
	.seasonShow{
		height: 380px;
		#previewNow{
			position: relative;
			#preview{
				font-size: 14px;
		    height: 26px;
		    width: 150px;
		    padding: 5px;
			}
		}
		#episodeRow{
			position: relative;
			.square .belowText{
				.episode-title{
					font-size: 10px;
			    text-align: center;
				}
			}
		}
	}

	#entire{
		#tools{
			p {
			  padding-left: 10px;
		    padding-right: 10px;
			}
		}
		#convo{
			margin-left: 5px;
			margin-right: 5px;
			h1{
				font-size:22px;
			}
		}
	}

}

@media screen and (max-width: 768px) and (min-width: 375px) {
	#entire{
		.category-index{
			margin-top:35%;
		}
	}
}

@media screen and (max-width: 1366px) and (min-width: 1366px) {
	#entire{
		.category-index{
			margin-top:10%;
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 1024px) {
	#entire{
		.category-index{
			margin-top:30%;
		}
	}
}

.category-show-page{
	.row{
		margin:0px;
		.episode-title{
			color: #7C7D7E;
			font-family: "Light Helvetica", Helvetica, Arial, sans-serif !important;
			text-align: center;
		}
		.episode-slick{
			button.slick-arrow{
				z-index: 99999;
			}
			.slick-prev{
				left:20px;
			}
			.slick-next{
				right:20px;
			}
		}
	}
}

@media screen and (max-width: 640px) and (min-width: 360px) {
	.formatHeader{
		font-size: 14px;
		font-weight: 500;
	}
	.category-slick{
	  button{
	    top: 50%;
	  }
	  .slick-prev{
	    left: 10px;
	  }
	  .slick-next{
	    right: 50px;
	  }
	  .slick-prev:before, .slick-next:before{
	    font-size:40px;
	  }

	}
}
// iPhone5
@media screen and (max-width: 568px) and (min-width: 320px) {
	.formatHeader{
		font-size: 12px;
		font-weight: 500;
	}
	.category-slick{
	  button{
	    top: 50%;
	  }
	  .slick-prev{
	    left: 10px;
	  }
	  .slick-next{
	    right: 50px;
	  }
	  .slick-prev:before, .slick-next:before{
	    font-size:40px;
	  }
	}
}

@media screen and (max-width: 640px) and (min-width: 360px) and (orientation: landscape) {
	#entire{
		.category-index{
			margin-top:5%;
		}
	}
}

// iPhone 6+
@media screen and (max-width: 736px) and (min-width: 414px) and (orientation: landscape) {
	#entire{
		.category-index{
			margin-top:5%;
		}
	}
}
// iPhone 6
@media screen and (max-width: 667px) and (min-width: 375px) and (orientation: landscape) {
	#entire{
		.category-index{
			margin-top:5%;
		}
	}
}
