// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// dashboard stylesheet

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .navbar .navbar-collapse {
    text-align: left;
  }
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .panel-heading a.collapsed:after {
    content:"";
  }
}


.side-header{
  height: 80px;
  background-color: #444;
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
  justify-content: space-between;
  align-items: center;

  a{
    color:white;
    font-size: 20px;
  }
  a.title-header:before {
    font-family:'Glyphicons Halflings';
    content:"\e080";
    float: left;
    color: white;
  }
  span{
    float:right;
    color: white;
  }
}

.content-header{
  height: 80px;
  background-color: #444;
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
  justify-content: center;
  align-items: center;
}
