.select-box-page{
  margin-top: 300px;
  .select-box{
    a{
      color: #7C7D7E;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
    .card{
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
      min-height: 300px;
      max-height: 300px;
      .header{
        h3{
          text-align: center;
          margin-bottom: 25px;
        }
      }
      .card-block{
        .card-text{
          text-align: center;
        }
        .right{
          position: absolute;
          bottom: 10px;
          right: 30px;
        }
      }

    }
  }
}

.set-card-info-page{
  margin-top: 300px;
  /* CSS for Credit Card Payment form */
  .credit-card-box .panel-title {
      display: inline;
      font-weight: bold;
  }
  .credit-card-box .form-control.error {
      border-color: red;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
  }
  .credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }
  .credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }
  .credit-card-box label {
      display: block;
  }
  /* The old "center div vertically" hack */
  .credit-card-box .display-table {
      display: table;
  }
  .credit-card-box .display-tr {
      display: table-row;
  }
  .credit-card-box .display-td {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
  }
  /* Just looks nicer */
  .credit-card-box .panel-heading img {
      min-width: 180px;
  }
}


.staticBackground{
  background-image: image-url("StaticBackground.jpg");
  background-size: cover;
  // width: 100%;
  height: 100%;
  margin-top: -10px;
  position: relative;
  .copywrite{
    color: white;
    position: fixed;
    bottom: 10px;
    font-weight: 100;
    font-size: 30px;
  }
  .logo-row{
    text-align:center;
    margin-bottom:20px;
    padding-top:15%;
    margin-left:0px;
    margin-right:0px;
  }
}
@media only screen and (max-width : 414px) and (orientation : portrait) {
  .contact-page{
    padding-left: 10px;
    padding-right: 10px;
    h1.contactLabel{
      font-size:24px;
    }
    p.contactblurb{
      padding: 5px;
      text-align: justify;
    }
    .contactInformation{
      p{
        padding: 20px 5px;
      }
    }
  }
  .staticBackground{
    h1.copywrite{
      font-size: 18px;
      bottom:10px;
    }
    img{
      width:80px;
      height:80px;
    }
  }
}
@media screen and (max-width: 768px) and (min-width: 375px) {
  .staticBackground{
    h1.copywrite{
      font-size: 20px;
      bottom:22px;
    }
  }
}
.contact-page{
  background-color: #EDEDED;
  border-radius: 5px;
  p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 4%;
    text-align: center;
  }
  h1{
    font-weight: 100;
    padding-top: 2%;
    text-align: center;
  }
  .contactInformation{
    border-radius: 5px;
    height:35%;
    width: 90%;
    margin: auto;
    padding-left: 1%;
    span{
      text-align: left;
      font-size: 16px;
      margin-left: 1%;
    }.spaceGap{
        margin-right: 10%;
      }p{
      text-align: center;
    }
  }
}


.about-us-page{
  h4{
    text-align: justify;
    color: #7C7D7E;
  	font-family: "Light Helvetica", Helvetica, Arial, sans-serif !important;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  p{
    text-align: justify;
    color: #7C7D7E;
  	font-family: "Light Helvetica", Helvetica, Arial, sans-serif !important;
  }
  p.last-item{
    padding-bottom: 100px;
  }
}



.disclaimer-page{
  margin-bottom: 50px;
  .parent-sentence{
    margin-top:10px;
    .parent-sentence{
      margin-left: 20px;
    }
    p{
      margin-left: 20px;
      text-align: justify;
    }
  }
}
