.side_nav{padding-left: 0px !important;}
.mar-top-10 {margin-top: 10px !important;}
.mar-top-20 {margin-top: 20px !important;}
.mar-top-30 {margin-top: 30px !important;}
.mar-top-40 {margin-top: 40px !important;}
.mar-top-50 {margin-top: 50px !important;}
.employee_groups {cursor: pointer;}
.modal-open .modal {z-index: 999999;}