#tool1.ui.basic.modal
  %i.close.icon
  .header
    Introduction To The SOCME Academy:
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "", :msallowfullscreen => "", :oallowfullscreen => "", :scrolling => "no", :src => "//iframe.dacast.com/b/83869/f/366043", :webkitallowfullscreen => "", :width => "854"}
#tool2.ui.basic.modal
  %i.close.icon
  .header
    How To Use LinkedIn Effectively:
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "", :msallowfullscreen => "", :oallowfullscreen => "", :scrolling => "no", :src => "//iframe.dacast.com/b/83869/f/366041", :webkitallowfullscreen => "", :width => "854"}
#tool3.ui.basic.modal
  %i.close.icon
  .header
    Low CQ:
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "", :msallowfullscreen => "", :oallowfullscreen => "", :scrolling => "no", :src => "//iframe.dacast.com/b/83869/f/365338", :webkitallowfullscreen => "", :width => "854"}
#tool4.ui.basic.modal
  %i.close.icon
  .header
    High CQ:
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "", :msallowfullscreen => "", :oallowfullscreen => "", :scrolling => "no", :src => "//iframe.dacast.com/b/83869/f/365337", :webkitallowfullscreen => "", :width => "854"}
