#content.container.uui.category-index
  .grid.rows
    .category-slick
      - @categories.each do |category|
        %div
          = link_to category_path(category) do
            %h1.formatHeader= category.title
          = link_to category_path(category) do
            .banner
              = image_tag category.banner.url if category.banner.present?
